[submodule "fallback-unknown"]
	path = fallback-unknown
	url = https://github.com/mycroftai/fallback-unknown.git
[submodule "fallback-wolfram-alpha"]
	path = fallback-wolfram-alpha
	url = https://github.com/mycroftai/fallback-wolfram-alpha.git
[submodule "mycroft-alarm"]
	path = skill-alarm
	url = https://github.com/mycroftai/skill-alarm.git
[submodule "mycroft-audio-record"]
	path = skill-audio-record
	url = https://github.com/mycroftai/skill-audio-record.git
[submodule "mycroft-configuration"]
	path = skill-configuration
	url = https://github.com/mycroftai/skill-configuration.git
[submodule "mycroft-date-time"]
	path = skill-date-time
	url = https://github.com/mycroftai/skill-date-time.git
[submodule "mycroft-fallback-duck-duck-go"]
	path = fallback-duckduckgo
	url = https://github.com/mycroftai/fallback-duckduckgo.git
[submodule "mycroft-hello-world"]
	path = skill-hello-world
	url = https://github.com/mycroftai/skill-hello-world.git
[submodule "mycroft-installer"]
	path = skill-installer
	url = https://github.com/mycroftai/skill-installer.git
[submodule "mycroft-ip"]
	path = skill-ip
	url = https://github.com/mycroftai/skill-ip.git
[submodule "mycroft-joke"]
	path = skill-joke
	url = https://github.com/mycroftai/skill-joke.git
[submodule "mycroft-mark-1-demo"]
	path = skill-mark1-demo
	url = https://github.com/mycroftai/skill-mark1-demo
[submodule "mycroft-mark-1"]
	path = mycroft-mark-1
	url = https://github.com/MycroftAI/mycroft-mark-1.git
[submodule "mycroft-naptime"]
	path = skill-naptime
	url = https://github.com/mycroftai/skill-naptime.git
[submodule "mycroft-npr-news"]
	path = skill-npr-news
	url = https://github.com/mycroftai/skill-npr-news.git
[submodule "mycroft-pairing"]
	path = skill-pairing
	url = https://github.com/mycroftai/skill-pairing.git
[submodule "mycroft-personal"]
	path = skill-personal
	url = https://github.com/mycroftai/skill-personal.git
[submodule "mycroft-playback-control"]
	path = skill-playback-control
	url = https://github.com/mycroftai/skill-playback-control.git
[submodule "mycroft-reminder"]
	path = skill-reminder
	url = https://github.com/mycroftai/skill-reminder.git
[submodule "mycroft-singing"]
	path = skill-singing
	url = https://github.com/mycroftai/skill-singing.git
[submodule "mycroft-speak"]
	path = skill-speak
	url = https://github.com/mycroftai/skill-speak.git
[submodule "mycroft-spelling"]
	path = skill-spelling
	url = https://github.com/mycroftai/skill-spelling.git
[submodule "mycroft-spotify"]
	path = spotify-skill
	url = https://github.com/forslund/spotify-skill
[submodule "mycroft-stop"]
	path = skill-stop
	url = https://github.com/mycroftai/skill-stop.git
[submodule "mycroft-support-helper"]
	path = skill-support
	url = https://github.com/mycroftai/skill-support.git
[submodule "mycroft-timer"]
	path = mycroft-timer
	url = https://github.com/mycroftai/mycroft-timer.git
[submodule "mycroft-weather"]
	path = skill-weather
	url = https://github.com/mycroftai/skill-weather.git
[submodule "mycroft-version-checker"]
	path = skill-version-checker
	url = https://github.com/mycroftai/skill-version-checker.git
[submodule "mycroft-wiki"]
	path = skill-wiki
	url = https://github.com/mycroftai/skill-wiki.git
[submodule "mycroft-volume"]
	path = skill-volume
	url = https://github.com/mycroftai/skill-volume.git
[submodule "mycroft-release-test"]
	path = skill-release-test
	url = https://github.com/mycroftai/skill-release-test
[submodule "skill-finished-booting"]
	path = skill-finished-booting
	url = https://github.com/zelmon64/skill-finished-booting.git
[submodule "fallback-query"]
	path = fallback-query
	url = https://github.com/MycroftAI/skill-query.git
[submodule "mycroft-wink-iot"]
	path = mycroft-wink-iot
	url = https://github.com/MycroftAI/skill-wink-iot.git
[submodule "game-zork"]
	path = game-zork
	url = https://github.com/forslund/white-house-adventure
[submodule "fallback-aiml"]
	path = fallback-aiml
	url = https://github.com/forslund/fallback-aiml.git
[submodule "decide-skill"]
	path = decide-skill
	url = https://github.com/lhannon/decide-skill.git
[submodule "cocktails"]
	path = cocktails
	url = https://github.com/forslund/skill-cocktail.git
[submodule "plasma-activities-skill"]
	path = plasma-activities-skill
	url = https://github.com/AIIX/plasma-activities-skill
[submodule "email-skill"]
	path = email-skill
	url = https://github.com/linuss1/email-skill
[submodule "emby"]
	path = emby
	url = https://github.com/rickyphewitt/emby-skill
[submodule "skill-number-guess"]
	path = skill-number-guess
	url = https://github.com/Arc676/Number-Guess-Mycroft-Skill
[submodule "skill-crystal-ball"]
	path = skill-crystal-ball
	url = https://github.com/Arc676/Crystal-Ball-Mycroft-Skill
[submodule "homeassistant"]
	path = homeassistant
	url = https://github.com/MycroftAI/mycroft-homeassistant
[submodule "picroft-google-aiy-voicekit"]
	path = picroft-google-aiy-voicekit
	url = https://github.com/andlo/picroft-google-aiy-voicekit-skill.git
[submodule "wikiquote"]
	path = wikiquote
	url = https://github.com/danielwine/wikiquote-skill
[submodule "theia-ide"]
	path = theia-ide
	url = https://github.com/andlo/theia-ide-skill.git
[submodule "krunner-search-skill"]
	path = krunner-search-skill
	url = https://github.com/AIIX/krunner-search-skill.git
[submodule "cut-up-skill"]
	path = cut-up-skill
	url = https://github.com/JonStratton/cut-up-skill
[submodule "skill-aircrack"]
	path = skill-aircrack
	url = https://github.com/JonStratton/skill-aircrack
[submodule "remember"]
	path = remember
	url = https://github.com/luke5sky/remember-skill.git
[submodule "laugh"]
	path = laugh
	url = https://github.com/JarbasAl/skill-laugh.git
[submodule "auto-volume"]
	path = auto-volume
	url = https://github.com/andlo/auto-volume-skill.git
[submodule "telegram"]
	path = telegram
	url = https://github.com/luke5sky/telegram-skill
[submodule "count"]
	path = count
	url = https://github.com/andlo/count-skill.git
[submodule "fairytalez"]
	path = fairytalez
	url = https://github.com/andlo/fairytalez-skill.git
[submodule "speedtest"]
	path = speedtest
	url = https://github.com/luke5sky/speedtest-skill.git
[submodule "pick-number"]
	path = pick-number
	url = https://github.com/pcwii/skill-pick-number.git
[submodule "iss-tracker"]
	path = iss-tracker
	url = https://github.com/andlo/iss-tracker-skill.git
[submodule "dice-skill"]
	path = dice-skill
	url = https://github.com/Dragoncraft89/dice-skill
[submodule "pokemon"]
	path = pokemon
	url = https://github.com/retrodaredevil/pokemon-skill.git
[submodule "mycroft-mark-2"]
	path = mycroft-mark-2
	url = https://github.com/mycroftai/skill-mark-2
[submodule "learning"]
	path = learning
	url = https://github.com/gras64/learning-skill
[submodule "list-manager"]
	path = list-manager
	url = https://github.com/lb803/list-manager-skill.git
[submodule "Gui-Examples"]
	path = Gui-Examples
	url = https://github.com/AIIX/Skill-Gui-Examples
[submodule "moviemaster"]
	path = moviemaster
	url = https://github.com/builderjer/moviemaster
[submodule "Wiktionary"]
	path = Wiktionary
	url = https://github.com/TREE-Ind/Wiktionary-Skill
[submodule "bark-skill"]
	path = bark-skill
	url = https://github.com/padresb/bark-skill
[submodule "today-in-history"]
	path = today-in-history
	url = https://github.com/austin-carnahan/days-in-history-skill
[submodule "dismissal-skill"]
	path = dismissal-skill
	url = https://github.com/ChanceNCounter/dismissal-skill.git
[submodule "fallback-recommendations-skill"]
	path = fallback-recommendations-skill
	url = https://github.com/linuss1/fallback-recommendations-skill
[submodule "mbta-bus-tracking"]
	path = mbta-bus-tracking
	url = https://github.com/richhowley/mbta-bus-tracking-skill
[submodule "national-parks"]
	path = national-parks
	url = https://github.com/richhowley/national-parks-skill
[submodule "lifx-mycroft"]
	path = lifx-mycroft
	url = https://github.com/samclane/lifx-mycroft
[submodule "myepisodes"]
	path = myepisodes
	url = https://github.com/brezuicabogdan/myepisodes-skill
[submodule "pandora"]
	path = pandora
	url = https://github.com/MycroftAI/skill-pandora
[submodule "camera"]
	path = camera
	url = https://github.com/MycroftAI/skill-camera
[submodule "homescreen"]
	path = homescreen
	url = https://github.com/MycroftAI/skill-homescreen
