[submodule "fallback-persona"]
	path = fallback-persona
	url = https://github.com/MycroftAI/skill-fallback-persona.git
[submodule "mycroft-stop"]
	path = skill-stop
	url = https://github.com/mycroftai/skill-stop
[submodule "mycroft-hello-world"]
	path = skill-hello-world
	url = https://github.com/mycroftai/skill-hello-world
[submodule "mycroft-naptime"]
	path = skill-naptime
	url = https://github.com/mycroftai/skill-naptime
[submodule "mycroft-stock"]
	path = skill-stock
	url = https://github.com/mycroftai/skill-stock
[submodule "mycroft-audio-record"]
	path = skill-audio-record
	url = https://github.com/mycroftai/skill-audio-record.git
[submodule "mycroft-joke"]
	path = skill-joke
	url = https://github.com/mycroftai/skill-joke.git
[submodule "fallback-wolfram-alpha"]
	path = fallback-wolfram-alpha
	url = https://github.com/mycroftai/fallback-wolfram-alpha
[submodule "mycroft-ip"]
	path = skill-ip
	url = https://github.com/mycroftai/skill-ip
[submodule "mycroft-personal"]
	path = skill-personal
	url = https://github.com/mycroftai/skill-personal
[submodule "mycroft-playback-control"]
	path = skill-playback-control
	url = https://github.com/mycroftai/skill-playback-control
[submodule "mycroft-configuration"]
	path = skill-configuration
	url = https://github.com/mycroftai/skill-configuration.git
[submodule "mycroft-date-time"]
	path = skill-date-time
	url = https://github.com/mycroftai/skill-date-time
[submodule "mycroft-volume"]
	path = skill-volume
	url = https://github.com/mycroftai/skill-volume.git
[submodule "mycroft-installer"]
	path = skill-installer
	url = https://github.com/mycroftai/skill-installer.git
[submodule "mycroft-npr-news"]
	path = skill-npr-news
	url = https://github.com/mycroftai/skill-npr-news.git
[submodule "mycroft-singing"]
	path = skill-singing
	url = https://github.com/mycroftai/skill-singing.git
[submodule "fallback-unknown"]
	path = fallback-unknown
	url = https://github.com/mycroftai/fallback-unknown.git
[submodule "mycroft-alarm"]
	path = skill-alarm
	url = https://github.com/mycroftai/skill-alarm.git
[submodule "mycroft-pairing"]
	path = skill-pairing
	url = https://github.com/mycroftai/skill-pairing.git
[submodule "mycroft-support-helper"]
	path = skill-support
	url = https://github.com/mycroftai/skill-support.git
[submodule "mycroft-wiki"]
	path = skill-wiki
	url = https://github.com/mycroftai/skill-wiki
[submodule "mycroft-release-test"]
	path = skill-release-test
	url = https://github.com/mycroftai/skill-release-test
[submodule "mycroft-reminder"]
	path = skill-reminder
	url = https://github.com/mycroftai/skill-reminder.git
[submodule "mycroft-weather"]
	path = skill-weather
	url = https://github.com/mycroftai/skill-weather.git
[submodule "mycroft-spelling"]
	path = skill-spelling
	url = https://github.com/mycroftai/skill-spelling
[submodule "mycroft-version-checker"]
	path = skill-version-checker
	url = https://github.com/mycroftai/skill-version-checker.git
[submodule "mycroft-fallback-duck-duck-go"]
	path = fallback-duck-duck-go
	url = https://github.com/mycroftai/fallback-duckduckgo.git
[submodule "mycroft-timer"]
	path = mycroft-timer
	url = https://github.com/mycroftai/mycroft-timer
[submodule "mycroft-spotify"]
	path = spotify-skill
	url = https://github.com/forslund/spotify-skill
[submodule "pandora-skill"]
	path = pandora-skill
	url = https://github.com/ethanaward/pianobar-skill
[submodule "mycroft-mark-1-demo"]
	path = skill-mark1-demo
	url = https://github.com/mycroftai/skill-mark1-demo
[submodule "mycroft-mark-1"]
	path = mycroft-mark-1
	url = https://github.com/MycroftAI/mycroft-mark-1.git
[submodule "mycroft-speak"]
	path = skill-speak
	url = https://github.com/mycroftai/skill-speak.git
[submodule "mycroft-hue"]
	path = mycroft-hue
	url = https://github.com/ChristopherRogers1991/mycroft-hue.git
[submodule "btotharye-home-assistant"]
	path = btotharye-home-assistant
	url = https://github.com/btotharye/mycroft-homeassistant
[submodule "carstena-the-cows-lists"]
	path = carstena-the-cows-lists
	url = https://github.com/CarstenAgerskov/skill-the-cows-lists
[submodule "translate-skill"]
	path = translate-skill
	url = https://github.com/jcasoft/translate-skill
[submodule "plasma-activities-skill"]
	path = plasma-activities-skill
	url = https://github.com/AIIX/plasma-activities-skill
[submodule "openhab-mycroft"]
	path = openhab-mycroft
	url = https://github.com/openhab/openhab-mycroft
[submodule "skill-wemo"]
	path = skill-wemo
	url = https://github.com/martymulligan/skill-wemo
[submodule "zork"]
	path = game-zork
	url = https://github.com/forslund/white-house-adventure.git
[submodule "reginaneon-caffeine-wiz"]
	path = reginaneon-caffeine-wiz
	url = https://github.com/reginaneon/CaffeineWiz.git
[submodule "reginaneon-av-music"]
	path = reginaneon-av-music
	url = https://github.com/reginaneon/AVmusic.git
[submodule "deej-score"]
	path = deej-score
	url = https://github.com/deejcunningham/skill-score.git
